body{
  background-color: beige;
  justify-content: center;
  align-items: center;
}

.textarea-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

.textarea-container textarea{
  width: 500px;
  height: 350px;
  font-size: medium;
  font-family: Arial, Helvetica, sans-serif;
}


